:root {
  --accent:#C7763E;
  --background:#A55C30;
  --background_light:#F8D7A4;
  --color:#232730;
  --color_in_black:#FFFFFF;
}

.title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  color: var(--background);
}

.info * + * {
  margin-top: 18px;
}

.background__blakc {
  background: rgba(35, 34, 34, 0.96);
  background-blend-mode: multiply;
  color: var(--color_in_black);
}

.background__light {
  background: var(--background_light);
}

.card {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.card__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.002em;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
  color: var(--color);
}

[class*=item]:hover {
  color: var(--background);
}

.wrapper {
  padding: 107px 107px 129px 123px;
  margin: auto;
  max-width: 1440px;
}

.Fleet__wrapper {
  padding: 59px 45px 184px 45px;
}

.main {
  position: relative;
}

svg {
  position: absolute;
  right: 0;
  z-index: -1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  margin-right: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #A55C30;
}
.header__span {
  font-weight: 400;
  font-style: italic;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo__title {
  max-width: 492px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(2rem, 1.429rem + 2.86vw, 4rem);
  line-height: clamp(2.563rem, 1.83rem + 3.66vw, 5.125rem);
}
.promo__title::before {
  content: "";
  display: block;
  width: 9px;
  height: 261px;
  margin-right: 47px;
  float: left;
  background: #F8D7A4;
}
.promo__img {
  width: 744px;
  height: 496px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -36px;
     object-position: -36px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__list * + * {
  margin-left: 48px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__box {
  padding-top: clamp(0.625rem, -0.643rem + 6.34vw, 5.063rem);
  padding-left: clamp(1.875rem, 0.036rem + 9.2vw, 8.313rem);
}
.about__title {
  font-size: 40px;
}

.background_img {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.91)), to(rgba(0, 0, 0, 0.91))), url(../img/car.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.91)), url(../img/car.png);
  background-blend-mode: multiply, normal;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.Services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: clamp(2.813rem, 1.134rem + 8.39vw, 8.688rem);
     -moz-column-gap: clamp(2.813rem, 1.134rem + 8.39vw, 8.688rem);
          column-gap: clamp(2.813rem, 1.134rem + 8.39vw, 8.688rem);
  row-gap: 56px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: var(--color_in_black);
}
.Services__content * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 305px;
          flex: 0 0 305px;
}

.Fleet__wrapper {
  padding: 50px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__window {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.slider__control {
  width: 36px;
  height: 36px;
  background: #F8D7A4;
  border-radius: 50%;
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.amount__numder {
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
}
.amount__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.testimonials__box {
  background: #FFFFFF;
  -webkit-box-shadow: 5px 15px 33px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 15px 33px rgba(0, 0, 0, 0.1);
  padding: clamp(3.438rem, 3.134rem + 1.52vw, 4.5rem) clamp(3.438rem, 2.277rem + 5.8vw, 7.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.testimonials__box * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 219px;
          flex: 1 1 219px;
}
.testimonials__img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.testimonials__name {
  font-weight: 700;
  font-size: 32px;
}
.testimonials__slogan {
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #979797;
}
.testimonials__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}