@import "./variables/variables.scss";
@import "./blocks/blocks.scss";
@import "./mixins/mixins.scss";

body {
    font-family: 'Poppins', sans-serif;
    @include text_style(400, 15px, 145%);
    color: var(--color);
    text-align: center;
    position: relative;
}

[class*="item"]:hover {
    color: var(--background);
}

.wrapper {
    padding: 107px clamp(1.25rem, -0.304rem + 7.77vw, 6.688rem) 129px clamp(1.25rem, -0.589rem + 9.2vw, 7.688rem);
    margin: auto;
    max-width: 1440px;
    overflow-x: clip;
}

.Fleet__wrapper {
    padding: 59px 45px 184px 45px;
}

.main {
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    right: 0;
    left: 0;
    top: -80px;
    position: fixed;
    z-index: 5;
    padding-bottom: 10px;
    background:var(--color_in_black);

    &__logo {
        margin-right: auto;
        @include text_style(700, 32px, 41px);
        color: var(--background);
    }

    &__span {
        font-weight: 400;
        font-style: italic;
    }
}

.promo {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding-top: clamp(2.188rem, 1.027rem + 5.8vw, 6.25rem);

    &__background {
        position: absolute;
        right: 0;
        top: 104px;
        z-index: -1;
    }

    &__title {
        @include text_style(700, clamp(2rem, 1.429rem + 2.86vw, 4rem), clamp(2.563rem, 1.83rem + 3.66vw, 5.125rem));
        max-width: clamp(17.25rem, 13.393rem + 19.29vw, 30.75rem);
        font-family: 'Lora';
        font-style: normal;

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-end: 1;
    }

    &__title::before {
        content: "";
        display: block;
        width: 9px;
        height: clamp(10.75rem, 9.161rem + 7.95vw, 16.313rem);
        margin-right: clamp(1.25rem, 0.768rem + 2.41vw, 2.938rem);
        margin-top: clamp(0rem, -0.304rem + 1.52vw, 1.063rem);
        float: left;

        background: var(--background_light);
    }

    &__img {
        width: 744px;
        height: 496px;
        object-fit: cover;
        object-position: -36px 33px;

        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-end: 1;

        // animation: cars 1s cubic-bezier(0.22, 0.61, 0.36, 1) 2s 1 normal backwards;
    }


    @media (max-width:1256px) {
        grid-auto-rows: auto 94px;

        &__img {
            grid-row-end: 2;
        }
    }
}


.loading {
    position: fixed;
    top: 0px;
    z-index: 7;
    overflow: hidden;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.finale) {
        background:var(--background_light);
    }

    &__form {
        width: inherit;
        animation: middle 3s cubic-bezier(0.6, -0.08, 0, 1.41) 1s infinite alternate backwards;
    }

    &__car {
        animation: Start 2s cubic-bezier(0.22, 0.61, 0.36, 1) 1s 1 normal backwards;
    }

    &__line {
        animation: line 2s linear 1.5s 1 normal backwards;
    }
}

@keyframes line {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes middle {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(115px);
    }

    100% {
        transform: translateX(-87px);
    }
}

@keyframes Start {
    0% {
        d: path("M94.4 2.33337C76.5333 6.20004 69.4667 11.4 36.5333 44.2C14.2667 66.4667 5.6 76.0667 3.2 81L0 87.6667V157V226.333L4.13333 235.133C11.0667 249.667 19.3333 257.4 35.0667 263.8C42.1333 266.6 42.5333 267.133 44.6667 273.933C51.7333 297 71.0667 314.6 93.8667 319C103.2 320.733 151.467 320.733 160.8 319C179.2 315.533 196.933 302.067 205.333 285.4C207.867 280.333 210.267 274.067 210.8 271.533L211.6 267H260.667H309.733L310.533 271.533C311.067 274.067 313.467 280.333 316 285.4C324.4 302.067 360.533 319 360.533 319C360.533 319 402.555 326.916 427.467 319C439.806 315.079 450.133 310.867 457.2 304.333L463.333 298.6L469.467 304.333C476.533 310.867 489.067 317 499.2 319C508.533 320.733 556.8 320.733 566.133 319C584.533 315.533 602.267 302.067 610.667 285.267C613.333 280.067 615.733 273.533 616.133 270.733C616.8 266.6 617.867 265.267 621.6 263.533C627.867 260.467 636 250.733 637.867 243.933C639.067 239.933 639.333 223.8 639.067 186.333L638.667 134.333L635.2 125.533C630.133 112.6 625.733 105.667 616.4 96.3334C606.8 86.8667 591.467 78.7334 578.8 76.4667C574.4 75.6667 553.867 75 532.533 75H494.267L465.067 49.5334C434.133 22.3333 421.2 12.8667 408.933 8.33337C388.267 0.600037 399.067 1.00003 244.667 0.733368C128.8 0.600037 101.2 0.866699 94.4 2.33337ZM180.667 48.3334V75H138C102.667 75 95.3333 74.7334 96.2667 73.2667C96.8 72.2 105.333 60.2 115.067 46.6L132.933 21.6667H156.8H180.667V48.3334ZM267.2 26.3334C273.2 28.4667 281.6 32.3334 285.867 35C291.867 39 322.133 64.3334 331.333 73.1334C332.933 74.7334 324 75 267.6 75H202V48.2V21.4L229.067 21.9334C254.267 22.4667 256.667 22.7334 267.2 26.3334ZM394.8 26.0667C400.667 28.0667 409.2 32.0667 413.733 34.8667C420.4 39.2667 446.8 61.4 458.667 72.4667C461.2 75 460.133 75 413.733 75H366.133L337.733 50.2C322.133 36.6 308.4 24.4667 307.333 23.4C305.6 21.6667 310.133 21.5334 344.667 21.9334C383.2 22.4667 384.267 22.6 394.8 26.0667ZM572.533 97.8C583.6 99.5334 593.6 104.467 600.8 111.8L606.533 117.667H543.867H481.2L479.067 113.933C477.867 111.933 473.6 107.133 469.467 103.267L462.133 96.3334H513.067C541.867 96.3334 567.733 97 572.533 97.8ZM31.3333 129C31.3333 131.267 24.9333 139 23.0667 139C21.2 139 20.6667 137.8 20.6667 133.667V128.333H26C28.9333 128.333 31.3333 128.6 31.3333 129ZM500.667 149.667V160.333H493.6C481.2 160.333 472 153.667 469.333 142.6L468.4 139H484.533H500.667V149.667ZM617.2 143.133C617.6 145.4 618 150.2 618 153.8V160.333H570H522V149.667V139H569.2H616.4L617.2 143.133ZM127.467 174.467C145.333 179.8 157.467 189 174.133 209.8C179.333 216.333 184.667 222.333 186 223C187.333 223.8 193.867 224.333 200.533 224.333H212.667V235V245.667H190.8H169.067L168.133 240.6C166.933 232.733 160 220.067 152.8 212.6C138.667 197.8 123.067 191.667 102.933 192.6C94.6667 193 88.1333 194.2 82.9333 196.2C66.2667 202.733 50.2667 219.4 45.2 235.667C43.8667 239.667 42.1333 243 41.2 243C38.4 243 28.2667 234.467 25.4667 229.8L22.8 225.267L25.7333 223.267C27.3333 222.2 32.9333 216.067 38.1333 209.533C57.0667 185.8 73.0667 175.4 96 171.8C102.8 170.867 119.867 172.2 127.467 174.467ZM394.133 174.467C412 179.8 424.133 189 440.8 209.8C446 216.333 451.333 222.333 452.667 223C454.267 223.8 486 224.333 536.533 224.333H618V230.333C618 237.667 616 242.333 611.733 244.2C609.467 245.267 582.667 245.667 522.133 245.667H435.733L434.8 240.6C433.6 232.733 426.667 220.067 419.467 212.6C405.333 197.8 369.6 192.6 369.6 192.6C361.333 193 354.8 194.2 349.6 196.2C332.667 202.867 316.533 219.933 311.6 236.467L309.333 244.333H277.867C260.533 244.333 243.6 244.733 240.133 245.133L234 246.067V235.133V224.333H262.133C277.867 224.333 291.2 223.8 292.667 223C294 222.333 299.333 216.333 304.533 209.8C323.733 185.667 339.6 175.4 362.667 171.8C369.467 170.867 386.533 172.2 394.133 174.467ZM618 192.333V203H554H490V192.333V181.667H554H618V192.333ZM126.133 219.133C140.533 226.867 148 239.533 148 256.333C148 280.467 130.133 298.333 106 298.333C89.0667 298.333 75.7333 290.067 67.7333 274.6C64.6667 268.6 64.1333 266.067 64.1333 256.333C64.1333 246.733 64.6667 243.933 67.6 238.2C72.6667 228.467 76.8 224.067 84.8 219.667C94.2667 214.6 98.4 213.667 109.067 214.333C115.867 214.733 119.867 215.8 126.133 219.133ZM392.8 219.133C407.2 226.867 414.667 239.533 414.667 256.333C414.667 280.467 372.667 298.333 372.667 298.333C372.667 298.333 342.4 290.067 334.4 274.6C331.333 268.6 330.8 266.067 330.8 256.333C330.8 246.733 331.333 243.933 334.267 238.2C339.333 228.467 343.467 224.067 351.467 219.667C360.933 214.6 365.067 213.667 375.733 214.333C382.533 214.733 386.533 215.8 392.8 219.133Z");
    }
}

@keyframes cars {
    0% {
        transform: scale3d(1.7, 1.7, 1.5) matrix(1, 0, 0, 1, 700, 0);
    }

    100% {
        transform: scale3d(1, 1, 1.5) matrix(1, 0, 0, 1, 0, 0);
    }
}

.finale {
    & .loading__form {
        animation: finale 3s cubic-bezier(0.6, -0.08, 0, 1.41) 0s 1 alternate backwards;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 50vh;
        background:var(--background_light);
    }

    &::before {
        top: 1px;
        animation: finale_1 0.5s linear 2.3s 1 alternate forwards;
    }

    &::after {
        bottom: 0;
        animation: finale_2 0.5s linear 2.3s 1 alternate forwards;
    }
}

@keyframes finale {
    0% {
        transform: translateX(0%);
    }

    60% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes finale_1 {
    0% {
        transform: rotateZ(0deg);
        top: 0px;
    }

    40% {
        transform: rotateZ(1deg);
        top: -10px;
    }

    60% {
        top: -64px;
        transform: rotateZ(6deg);
    }

    80% {
        top: -119px;
        transform: rotateZ(12deg);
    }

    100% {
        top: -58%;
        transform: rotateZ(14deg);
        right: -35px;
    }
}

@keyframes finale_2 {
    0% {
        transform: rotateZ(0deg);
        bottom: 0px;
    }

    40% {
        transform: rotateZ(-1deg);
        bottom: -10px;
    }

    60% {
        bottom: -64px;
        transform: rotateZ(-6deg);
    }

    80% {
        bottom: -119px;
        transform: rotateZ(-12deg);
    }

    100% {
        bottom: -58%;
        transform: rotateZ(-14deg);
        right: -35px;
    }
}

.nav {
    &__list {
        display: flex;
        transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
    }

    &__list *+* {
        margin-left: 48px;
    }

    &__item {
        cursor: pointer;
    }

    @media (max-width:840px) {
        &__list {
            flex-direction: column;
            justify-content: center;
            background: rgba(12, 12, 12, 0.95);
            mix-blend-mode: multiply;
            backdrop-filter: blur(25px);
            color: var(--color_in_black);
            width: 265px;

            position: absolute;
            right: -283px;
            top: 150px;

            padding-top: 160px;
            height: 100vh;
        }

        &__list *+* {
            margin-left: 0px;
        }

        &__item {
            padding: 12px 40px;
        }

        &__list_active {
            right: 0px;
        }

        &__item:hover {
            background: var(--accent);
            color: var(--color_in_black);
        }
    }
}

.menu-btn {
    width: 32px;
    height: 32px;
    display: none;

    &::before,
    &::after,
    &__line {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: var(--background_2);
    }

    &::after,
    &__line {
        margin-top: 11px;
    }

    &_active {
        border-radius: 50%;
        border: 3px solid;
        width: 45px;
        height: 45px;
        transform: rotate(360deg);
    }

    &_active::before {
        margin-top: 15px;
    }

    &_active::after {
        margin-top: 0px;
        transform: translate(-6px, 12px) rotate(45deg);
    }

    &_active &__line {
        margin-top: 0px;
        transform: translate(8px, 13px) rotate(134deg);
    }

    @media (max-width:840px) {
        & {
            display: block;
            transition: 0.5s all;
            overflow: hidden;
        }
    }
}

.about {
    @include flex;

    &__box {
        padding-top: clamp(0.625rem, -0.643rem + 6.34vw, 5.063rem);
        padding-left: clamp(1.875rem, 0.036rem + 9.2vw, 8.313rem);
        transform: scale(0.5);
        opacity: 0;
    }

    ._active &__box {
        animation: text_about 1s ease 0s 1 normal forwards;
    }

    @keyframes text_about {
        0% {
            transform: scale(0.5);
            transform-origin: 0% 50%;
            opacity: 1;
        }

        100% {
            transform: scale(1);
            transform-origin: 0% 50%;
            opacity: 1;
        }
    }

    &__title {
        font-size: 40px;
    }

    * {
        flex: 1 1 311px;
    }
}

.background_img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.91)), url(../img/car.png);
    @include img;
}

.services {
    &__content {
        @include flex;
        column-gap: clamp(2.813rem, 1.134rem + 8.39vw, 8.688rem);
        row-gap: 56px;
        color: var(--color_in_black);
    }

    & .info {
        opacity: 0;
    }

    ._active & .info {
        animation: animati 1s cubic-bezier(0.22, 0.61, 0.36, 1) 0s 1 normal forwards;
    }

    @keyframes animati {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    &__content * {
        flex: 0 0 305px;
    }

    @media (max-width:822px) {
        & .info {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

.fleet__wrapper {
    padding: 50px;

    @media (max-width:530px) {
        & {
            padding: 20px;
        }
    }
}

.slider {
    display: inline-flex;
    align-items: center;
    width: 100%;

    &__window {
        flex-grow: 1;
        margin: 0px 30px;
        overflow: hidden;
    }

    &__control {
        padding: 8px 15px;
        height: 36px;

        background: var(--background_light);
        border-radius: 50%;
        color: var(--color_in_black);
    }

    &__control:active {
        background: var(--background);
    }

    &__carousel {
        display: inline-flex;
        transition: 2.3s all;
    }

    &__carousel>*+* {
        margin-left: 16px;
    }

    &__carousel>*:nth-child(3n) {
        background: var(--background_1);
    }

    &__carousel>* {
        transition: 1s;
    }

    &__carousel>*:hover {
        background: var(--background_light);
    }

    &__box {
        box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.1);
        padding: 37px;
    }

    &__subtitle {
        color: var(--background);
    }

    @media (max-width:530px) {
        &__window {
            margin: 0px 0px;
        }

        &__carousel {
            transition: 1s all;
        }

        &__box {
            padding: 5px;
        }
    }
}



.amount {
    @include flex;
    gap: 30px;

    &__numder {
        @include text_style(600, 72px, 98px);
    }

    &__text {
        @include text_style(400, 24px, 33px);
    }
}

.testimonials {
    &__carousel{
        display: grid;
    }
    &__box {
        background: var(--color_in_black);
        padding: clamp(3.438rem, 3.134rem + 1.52vw, 4.5rem) clamp(0.5rem, -1.661rem + 10.8vw, 8.063rem);
        @include flex;
        gap: 111px;

        transition: 1s all;
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: 0;
    }

    &__box * {
        flex: 1 1 244px;
    }

    &__user {
        max-width: 180px;
        margin: auto;
    }

    &__img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        margin: auto;
        margin-bottom: clamp(0.625rem, -0.036rem + 3.3vw, 2.938rem);
        object-fit: cover;
    }

    &__name {
        @include text_style(700, 32px, inherit);
    }

    &__slogan {
        @include text_style(300, 20px, 150%);
        color: #979797;
    }

    &__text {
        @include text_style(400, 24px, 150%);
        flex-grow: 2;
    }

    &__grade {
        color: var(--background_light);
        font-size: 40px;
    }

    &__numder * {
        padding: 0px 9px;
        background: var(--color_in_black);
        border-radius: 50%;
    }

    &__numder *+* {
        margin-left: 10px;
    }

    @media (max-width:500px) {
        &__box {
            gap: 34px;
        }
    }

}

.none {
    transform: scale(.9);
    z-index: 0;
}

.block {
    transform: scale(1);
    z-index: 1;
    display: flex;
    box-shadow: 5px 15px 33px rgba(0, 0, 0, 0.1);
}

.banner {
    @include text_style(400, clamp(1.25rem, 1.036rem + 1.07vw, 2rem), clamp(1.688rem, 1.384rem + 1.52vw, 2.75rem));
    padding: clamp(3.25rem, 2.732rem + 2.59vw, 5.063rem) 20px;
    background: linear-gradient(0deg, rgba(35, 34, 34, 0.92), rgba(35, 34, 34, 0.92)), url(../img/car.png);
    @include img;
    color: var(--color_in_black);

    &__title {
        @include text_style(600, clamp(2rem, 1.571rem + 2.14vw, 3.5rem), clamp(2.75rem, 1.929rem + 4.11vw, 5.625rem));
    }

    @media (max-width:420px) {
        & *:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

.contact {
    &__form {
        margin: auto;
        display: flex;
        flex-direction: column;
        background: var(--background_1);
        max-width: 727px;
        gap: 22px;
        padding: clamp(2rem, 0.5rem + 7.5vw, 7.25rem) clamp(1.625rem, -0.446rem + 10.36vw, 8.875rem);
    }

    &__input:nth-child(2n) {
        transform: translateX(-200%);
    }

    &__input:nth-child(2n+1) {
        transform: translateX(200%);
    }

    ._active &__input {
        transition: 1s all;
        transform: translateX(0%);
    }
}

.footer {
    overflow: hidden;
    background: #0C0C0C;
    color: var(--color_in_black);

    &__content {
        @include flex;
        row-gap: 88px;
        column-gap: 120px;
    }

    &__content * {
        flex: 0 0 263px;
    }

    &__content *:nth-child(2) {
        flex-grow: 1;
    }

    &__title {
        font-size: 32px;
    }

    &__link {
        color: var(--color_in_black);
        text-decoration: none;
    }

    &__input {
        width: 62%;
        margin-right: 14px;
    }

    &__btn {
        padding: 19px 30px;
    }

    &__icon {
        display: -webkit-inline-box;
    }

    &__icon::before {
        content: attr(data-icon);
        display: block;
        font-size: 28px;
        margin-right: 27px;
    }

    &__icons {
        @include flex;
        flex: 1 1 100%;
    }

    &__item {
        float: left;
    }

    &__item+&__item {
        margin-left: 32%;
    }

    &__line {
        height: 0px;
        flex: 3 0 110%;
    }

    @media (max-width:465px) {
        &__input {
            width: 95%;
            margin-right: 0px;
        }
    }
}