.title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  color: var(--background);
}

.btn-main {
  background: #A55C30;
  padding: 19px 99px;
  color: var(--color_in_black);
}

.info * + * {
  margin-top: 18px;
}

.background__blakc {
  background: rgba(35, 34, 34, 0.96);
  background-blend-mode: multiply;
  color: var(--color_in_black);
}

.background__light {
  background: var(--background_light);
}

.card {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.card__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.002em;
}